/* 
-------------------------------------
            Default Styles
-------------------------------------
*/


/*PlayFair Font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/*Roboto 500 weight*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*Oswald Sans Serif*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --header-font:'Oswald', sans-serif;
    --off-black: #2E304F;
    --off-white-background:white;
    --light-grey-accent:#EEEEEE;
    --dark-grey-accent: #A5ACB6;
    --brand-blue:#0265FB;
    --default-font:'Roboto', sans-serif;
    --hover-accent:#FBFCFE;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif; 
    background-color: var(--off-white-background);
}


/* 
-------------------------------------
    Container & Shared Left Rights
-------------------------------------
*/


.container {
    display: grid;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: minmax(auto, 300px) 1fr;
    height: 100%;
    
}

.container > * {
    border: 1px solid var(--light-grey-accent);
}

.left, .right {
    padding: 1em; /* added for a bit of inner spacing, adjust as needed */
}

/* 
-------------------------------------
    Left
-------------------------------------
*/

.left {
    background-color: var(--off-white-background); 
    display: flex;
    flex-direction: column;
}

.logo-container{
    display: flex;
    gap:1rem;
    align-items: center;
}

.logo-text{
    font-family: var(--header-font);
    color:var(--off-black);
    font-size: 1.4rem;
}

.logo-img{
    width: 35px;
}

.menu-item-header{
    font-family: var(--default-font);
    font-size: 1.3rem;
    font-weight: 300;
    padding-left: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
    color:var(--dark-grey-accent)

}

.menu-item-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.menu-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    color:var(--off-black);
    gap:1rem;
    font-family: var(--default-font);
    font-size: 1.2rem;
    width: 100%;
    border-bottom: 1px solid var(--light-grey-accent);
    padding-bottom: 20px;

}


.menu-list svg{
    width: 25px;
}



.menu-list a{
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Makes the link take the color of its parent element */
    outline: none; /* Removes the outline when the link is focused */
    cursor: pointer; /* Ensures the link is clickable */
}



.menu-list li{
    display: flex;
    gap: .7rem;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 25px;
    border-radius: 10px;
    border: 1px solid white;
}


.menu-list li:hover{
    background-color: var(--hover-accent);
    border-radius: 10px;
    border: 1px solid var(--light-grey-accent);
    color:var(--brand-blue)
}


.menu-list li:hover svg path{
    fill:var(--brand-blue);
}


/* 
-------------------------------------
    Right
-------------------------------------
*/

.right {
    background-color:var(--off-white-background);

}

.header-books{
    width: 100%;
    height: auto;
    font-family: var(--default-font);
    border-bottom:1px solid var(--light-grey-accent);
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
   
}

.header-books-left{
    display: flex;
    flex:1;
    gap:.5rem;
}

.header-books h2{
    font-size: 2.5rem;
    margin-right: 40px;
}

.header-books img{
    width: 45px;
    height: 45px;
    border: 2px solid var(--light-grey-accent);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    box-sizing: border-box;
}

.header-books img:hover{
    background-color: var(--light-grey-accent);
}

.header-books-right{
    display:flex;
    gap:1rem;
    padding-right: 20px;
}

#profile-pic{
    padding:0;
}

.profile-overview{
    display: flex;
    flex-direction: column;
    gap:.3rem;
}

.join-date{
    color:var(--dark-grey-accent);
    font-size: .9rem;
}

.subscription-type{
    background-color: #FFA827;
    color:white;
    width: fit-content;
    font-size: .9rem;
    padding: 3px 5px;
    border-radius: 5px;

}

/* 
-------------------------------------
    Right - Books Area
-------------------------------------
*/

.books-area-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    transition: .2s ease;
}

#plus-sign{
    font-size: 2rem;
}

/*Library Buttons*/

.library-buttons-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.library-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 15px;
    padding-right: 20px;
    width: fit-content;
    gap:1rem;
    font-family: var(--default-font);
    font-size: 1.5rem;
    border: 1px solid var(--dark-grey-accent);
    background-color: #FBFCFE;
    border-radius: 10px;
    transition: .2s ease-in;
}

.library-btn:hover{

    background-color: var(--hover-accent);
    color: var(--brand-blue);
}
.library-btn:active{
    background-color: white;
    color: white;
}

/*Sorting Drop-down*/

.sort-dropbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 15px;
    padding-right: 20px;
    width: fit-content;
    gap:1rem;
    font-family: var(--default-font);
    font-size: 1.5rem;
    border: 1px solid var(--dark-grey-accent);
    background-color: #FBFCFE;
    border-radius: 10px;
    transition: .2s ease-in;

}

.sort-dropbtn:hover{
    background-color: var(--hover-accent);
    color: var(--brand-blue);
}



.sort-dropdown {
    position: relative;
    display: inline-block;
}

.sort-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.sort-dropdown-content button {
    color: black;
    padding: 12px 16px;
    font-family: var(--default-font);
    font-size: 1.3rem;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.sort-dropdown-content button:hover {
    background-color: var(--hover-accent);
    color: var(--brand-blue);

}


.sort-dropdown-content button:hover {
    background-color: var(--hover-accent)
}

.sort-dropdown:hover .sort-dropdown-content {
    display: block;
}



.add-book-container {
    opacity: 1;
    max-height: 800px; /* adjust this according to the maximum height of your content */
    overflow: hidden;
    transition: opacity 0.5s ease, max-height 0.3s ease;
    padding-bottom: 10px;
    margin-top: 10px;
}

.hide-form {
    opacity: 0;
    max-height: 0;
}
/* 
-------------------------------------
    Add Book Form
-------------------------------------
*/

.add-book-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    padding: 20px;
    font-family: var(--default-font);
    font-size: 1.2rem;
    background-color: var(--hover-accent);
    border: 1px solid var(--dark-grey-accent);
    border-radius: 10px;
    transition: .3s ease;
}

.input-book{
    width: auto;
    border: 1px solid var(--dark-grey-accent);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

select{

    border: 1px solid var(--dark-grey-accent);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;

}

#submit{
    padding: 10px 20px;
    width: fit-content;
    background-color: var(--hover-accent);
    border: 3px solid var(--brand-blue);
    border-radius: 5px;
    color: black;
    font-size: 1.2rem;  
    font-weight: 700;
}

#submit:hover{
    background-color: white;
}

#submit:active{
    background-color: rgb(253, 213, 138);
}

/* 
-------------------------------------
    Book Collection
-------------------------------------
*/

.library-header{
    border-top: 1px solid var(--light-grey-accent);
    padding-top: 10px;
    padding-bottom: 20px;
}

h2{
    font-family: var(--default-font);
    font-size: 2.4rem;
    margin-right: 40px;
    font-weight: 700;

}

/*Library Grid */

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 2rem; 
    padding: 10px;

}

.library > .book-card {
    margin: auto;
}

/*Book Card Styling*/

.book-card {
    background-color: #f7f7f7;
    border: 1px solid var(--light-grey-accent);
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    gap: .3rem;
    padding-bottom: 10px;
}

/* hover effect to the book cards */
.book-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}


.book-cover-card {
    width: 200px; 
    height: 320px;
    object-fit: fill; 
    object-position: center; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    text-align: center;
}

.book-card p{
    font-family: Arial, Helvetica, sans-serif;
    padding-left:5px;
}

.title-card{
    font-family: var(--default-font);
    font-size: 1.2rem;
    font-weight: 700;
}

.delete-btn{
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 9px;
    width: fit-content;
    font-family: var(--default-font);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: red;
    color:white;
    transition: .2s ease;
}

.delete-btn:hover{
    background-color: rgb(252, 115, 115);
}

.delete-btn:active{
    background-color: white;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--hover-accent);
    font-family: var(--default-font);
    margin: 20% auto;
    padding: 20px;
    max-width: 400px;
    height: 200px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}


#confirmDelete{
    padding: 5px 9px;
    width: 75px;
    font-family: var(--default-font);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: red;
    color:white;
    transition: .2s ease;
}

#cancelDelete{
    padding: 5px 9px;
    width: 75px;
    font-family: var(--default-font);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: #007ACC;
    color:white;


}


#edit-btn{
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 9px;
    width: fit-content;
    font-family: var(--default-font);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: #007ACC;
    color:white;
}

#edit-btn:hover{
    background-color: #4cb5fb;
}

.edit-modal {
    display: none; /* Initially hidden */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black with opacity */
    z-index: 1; /* Sit on top */
}

.edit-modal input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--light-grey-accent);
    font-size: 1.1rem;
}

.edit-modal select{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--light-grey-accent);
    font-size: 1.1rem;
}


.edit-modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--hover-accent);
    font-family: var(--default-font);
    margin: 20% auto;
    padding: 20px;
    max-width: 400px;
    height: 400px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#submit-edit{
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px 9px;
    width: fit-content;
    font-family: var(--default-font);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: #007ACC;
    color:white;
}

#submit-edit:hover{
    background-color: #015084;
}


#submit-edit:active{
    background-color: white;
}

#cancel-edit{
    padding: 5px 9px;
    width: 75px;
    font-family: var(--default-font);
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    background-color: red;
    color:white;
    transition: .2s ease;
}

#cancel-edit:hover{
    background-color: rgb(254, 119, 119);
}

.read-icon{
    width: 20px;

}

.read-container{
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: left;
}