*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: auto;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFEB00;
    max-width: 800px;
}

h1, h2{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: monospace;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.7rem;
}


.pick-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 35px;
}

.rps-image{
    width:150px;
    height:150px;
    overflow: hidden;
    animation: float 3s infinite ease-in-out;
}


.rps-image:hover{
    cursor:pointer;
    width: 170px;
    height: 170px;
    transition: width 0.3s ease-in, height 0.3s ease-in;
}



.rps-image img{
    width:100%;
    height: auto;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

.game-information{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    font-family: monospace;
    font-size: 25px;
}

#pick-appears-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}





#pic-appears{
    width: 100%;
    height: auto;
}